@section scripts
{
    <script src="~/Scripts/functions.js"></script>
    <script>
        var firstVer =
            "<TestClass type=\"ExtendedXmlSerialization.WebApi.Samples.Model.TestClass\">" +
                "<Guid>7c126c49-c5ea-4af6-b3da-f3ef7fb7ce98</Guid>" +
                "<Name>First Ver</Name>" +
                "<Year>2009</Year>" +
             "</TestClass>";
        var secondVer =
            "<TestClass type=\"ExtendedXmlSerialization.WebApi.Samples.Model.TestClass\" serializeVersion=\"1\">" +
                "<Guid>7c126c49-c5ea-4af6-b3da-f3ef7fb7ce98</Guid>" +
                "<Name>Second Ver</Name>" +
                "<DateTime>2010-01-10T00:00:00</DateTime>" +
             "</TestClass>";
        var latestVer =
            "<TestClass type=\"ExtendedXmlSerialization.WebApi.Samples.Model.TestClass\" serializeVersion=\"2\">" +
                "<Guid>7c126c49-c5ea-4af6-b3da-f3ef7fb7ce98</Guid>" +
                "<Name>Latest Ver</Name>" +
                "<DateTime>2011-01-01T00:00:00</DateTime>" +
                "<Priority>Lowest</Priority>" +
             "</TestClass>";

        $(document).ready(function() {
            $("#getList").click(function () { download("/api/TestClass", $("#xmlShow")); });
            $("#getElement").click(function () { download("/api/TestClass/FromDb", $("#xmlShow")); });

            $("#firstVer").click(function () { $("#xmlToUpload").text(formatXml(firstVer)); });
            $("#secondVer").click(function () { $("#xmlToUpload").text(formatXml(secondVer)); });
            $("#latestVer").click(function () { $("#xmlToUpload").text(formatXml(latestVer)); });

            $("#upload").click(function() {
                upload(
                    "/api/TestClass",
                    $("#xmlToUpload").text(),
                    function() {
                        download("/api/TestClass", $("#xmlsFromServer"));
                    }
                );

            });
        });

    </script>     
    
    <script type=""></script>       
}
<br />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#serialization">Download</a></li>
    <li><a data-toggle="tab" href="#deserialization">Upload</a></li>

</ul>

<div class="tab-content">
    <div id="serialization" class="tab-pane active">
        <br />
        <button id="getList">Get list</button> - <a href="/api/TestClass">api/TestClass</a>
        <br />
        <button id="getElement">Get element by name (FromDb)</button> - <a href="/api/TestClass/FromDb">api/TestClass/FromDb</a>
        <br />
        Output:
        <br />
        <pre id="xmlShow"></pre>
    </div>
    <div id="deserialization" class="tab-pane">
        <br />
        <button id="firstVer">XML first ver</button>
        <button id="secondVer">XML second ver</button>
        <button id="latestVer">XML latest ver</button>
        <br/>
        xml to upload:
        <pre id="xmlToUpload"></pre>
        <button id="upload">Upload</button>
        <br/>
        All element from server:
        <pre id="xmlsFromServer"></pre>
        
    </div>

</div>

