name: Update the CHANGELOG

on:
  release:
    types: [edited, deleted]

env:
  BRANCH_REFERENCE: refs/heads/master
  DEPLOY_USER: "ExtendedXmlSerializer's GitHub Action Automation Agent"
  DEPLOY_EMAIL: "ExtendedXmlSerializer@users.noreply.github.com"
  DEPLOY_COMMIT_MESSAGE: Generated CHANGELOG.md

jobs:
  information:
    runs-on: ubuntu-latest
    steps:
    - name: Output Information
      run: |
        echo "****************************************************"
        echo "Event name: ${{ github.event_name }}"
        echo "Action type: ${{ github.event.action }}"
        echo "****************************************************"

  generate_and_save:
    runs-on: ubuntu-latest
    needs: [information]
    steps:
    - id: generate
      name: Generate CHANGELOG
      uses: dragonspark/action-changelog-dawg@master
      with:
        access_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Upload CHANGELOG
      uses: actions/upload-artifact@v1
      with:
        name: store
        path: '${{ steps.generate.outputs.filename }}'

  load_and_push:
    runs-on: ubuntu-latest
    needs: [generate_and_save]    
    steps:
      - uses: actions/checkout@master
        with:
          ref: refs/heads/master
      - name: Download the CHANGELOG
        uses: actions/download-artifact@v1
        with:
          name: store
          path: ./
      - name: Create Pull Request for CHANGELOG
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: ${{ env.DEPLOY_COMMIT_MESSAGE }}
          author-email: ${{ env.DEPLOY_EMAIL }}
          author-name: ${{ env.DEPLOY_USER }}
          title: '[Automated] ${{ env.DEPLOY_COMMIT_MESSAGE }}'
          body: |
            Automated Pull Request
            - Event Name: ${{ github.event_name }}
            - Event Type: ${{ github.event.action }}
            - Proudly Auto-generated using [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          labels: automerge
          base: ${{ env.BRANCH_REFERENCE }}
          branch: automated/changelog
